html,body { height:100%; margin:0; font-family:Arial, sans-serif; }
#map {
    width: 100%;
    height: 100vh; /* или 100% при flex */
}
#controls { height:60px; display:flex; gap:8px; align-items:center; padding:8px; }
button { padding:8px 12px; border-radius:6px; border:1px solid #ccc; background:#fff; cursor:pointer; }
#coords { font-size:14px; color:#333; margin-left:8px; }
