html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    /* фикс для Telegram WebApp */
    overflow: hidden;
}

#map {
    width: 100%;
    height: calc(100vh - 120px); /* оставляем место под панель */
    position: relative;
}

#controls {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background: rgba(255,255,255,0.95);
    backdrop-filter: blur(4px);
}

#controls-row {
    display: flex;
    width: 100%;
    gap: 8px;
}

button {
    flex: 1;
    padding: 10px;

    border-radius: 6px;
    border: 1px solid #ccc;
    background: white;
    font-size: 15px;

    cursor: pointer;
}

#date-field {
    width: 100%;
}

#surfDate {
    width: 100%;
    padding: 10px;
    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: 6px;
}

#coords {
    font-size: 14px;
    color: #333;
    width: 100%;
    text-align: center;
    background: #f4f4f4;
    padding: 6px 0;
    border-radius: 6px;
}
